.btn {
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 2px;
    background-color: var(--background-color);
}

.btn:hover {
    background-color: var(--lighter-background-color);
}

.btn-success {
    color: var(--success-color);
    border: 2px solid var(--success-color);
}

.btn-warn {
    color: var(--warn-color);
    border: 2px solid var(--warn-color);
}

.btn-error {
    color: var(--error-color);
    border: 2px solid var(--error-color);
}